.container {
  max-width: 800px;
  margin: 10px auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  float: left;
  width: 60%;
  margin-left: 20%;
}

.instructions {
  float: left;
  width: 20%;
}

table {
  margin: 20px;
}

table tr td {
  height: 50px;
  width: 50px;
  padding: 10px; 
}

.end {
  border-left: solid #ccc;

}
.border {
  height: 100px;
  width: 700px;
  padding: 10px;
  border: 5px;
  border-style: dotted;
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.btn {
  background-color: white;
  text-decoration: none;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 3px;
}

.reset {
  display: none;
}
/*<!--  <center>
    <br>
    <a class='btn play' href='javascript:void(0);'>Play</a>
    <a class='btn reset' href='game1.html'>Reset</a>
  </center> -->*/
